<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('style') %>
</head>

<body>
    <div class="container">
        <div class="head">id</div>
        <div class="head">name</div>
        <div class="head">email</div>
        <div class="head">phone</div>
        <div class="head">address</div>
        <div class="head">city</div>
        <div class="head">dob</div>
        <div class="head">gender</div>
        <% data.forEach((item)=> { %>

            <div class="data">
                <% if (item.id) { %>
                    <%= item.id %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.name) { %>
                    <%= item.name %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.email) { %>
                    <%= item.email %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.phone) { %>
                    <%= item.phone %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.address) { %>
                    <%= item.address %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.city) { %>
                    <%= item.city %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.dob) { %>
                    <%= new Date(item.dob).toLocaleDateString() %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.gender) { %>
                    male
                    <% } else { %>
                        female
                        <% } %>
            </div>
            <% }) %>
    </div>
    <div class="pagination">
        <div class="pageblock" id="previous"> previous </div>
        <a href="/?page=1">
            <div class="pageblock" id="p1">1</div>
        </a>
        <div class="data">...</div>
        <% for(let i=page-4;i<=page+4;i++){ %>
            <% if (i<total) { %>
                <% if (i > 1) { %>
                    <a href="/?page=<%= i %>">
                        <div class="pageblock" id="p<%= i %>">
                            <%= i %>
                        </div>
                    </a>
                <% } %>
            <% } %>
            <% } %>
                <div class="data">...</div>

                <a href="/?page=<%= total %>">
                    <div class="pageblock" id="p<%= total %>">
                        <%= total %>
                    </div>
                </a>
                <div class="pageblock" id="next"> next </div>

    </div>
    <%- include('script') %>
</body>

</html>