<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('style') %>
</head>

<body>
    <form action="">

        <div class="mb-10"><label for="search">search</label> <input type="text" id="search"></div>
        <div><select name="" id="offset">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="250">250</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </select></div>
    </form>
    <div class="container">
        <div class="head flex gap-5">
            <div>id</div>
            <div class="flex">
                <div id="idasc">asc</div>
                <div id="iddesc">dsc</div>
            </div>

        </div>
        <div class="head flex gap-5">
            <div>name</div>
            <div class="flex">
                <div id="nameasc">asc</div>
                <div id="namedesc">dsc</div>
            </div>
        </div>
        <div class="head flex gap-5">
            <div>email</div>
            
        </div>
        <div class="head flex gap-5">
            <div>phone</div>
        </div>
        <div class="head flex gap-5">
            <div>address</div>
            
        </div>
        <div class="head flex gap-5">
            <div>city</div>
            <div class="flex">
                 <div id="cityasc">asc</div>
                <div id="citydesc">dsc</div>
            </div>
        </div>
        <div class="head flex gap-5">
            <div>dob</div>
            <div class="flex">
                 <div id="dobasc">asc</div>
                <div id="dobdesc">dsc</div>
            </div>
        </div>
        <div class="head flex gap-5">
            <div>gender</div>
        </div>
        <% data.forEach((item)=> { %>

            <div class="data">
                <% if (item.id) { %>
                    <%= item.id %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.name) { %>
                    <%= item.name %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.email) { %>
                    <%= item.email %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.phone) { %>
                    <%= item.phone %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.address) { %>
                    <%= item.address %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.city) { %>
                    <%= item.city %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.dob) { %>
                    <%= new Date(item.dob).toLocaleDateString() %>
                        <% } else { %>
                            null
                            <% } %>
            </div>
            <div class="data">
                <% if (item.gender) { %>
                    male
                    <% } else { %>
                        female
                        <% } %>
            </div>
            <% }) %>
    </div>
    <div class="pagination">
        <div class="pageblock" id="previous"> previous </div>
        <a href="/?page=1" id="p1">
            <div  id="block1" class="pageblock" >1</div>
        </a>
        <div class="data">...</div>
        <% for(let i=page-4;i<=page+4;i++){ %>
            <% if (i<total) { %>
                <% if (i > 1) { %>
                    <a href="/?page=<%= i %>" id="p<%= i %>">
                        <div id="block<%= i %>" class="pageblock" > 
                            <%= i %>
                        </div>
                    </a>
                <% } %>
            <% } %>
            <% } %>
                <div class="data">...</div>

                <a href="/?page=<%= total %>" id="p<%= total %>">
                    <div  id="block<%= total %>" class="pageblock">
                        <%= total %>
                    </div>
                </a>
                <div class="pageblock" id="next"> next </div>

    </div>
    <%- include('script') %>
</body>

</html>