<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="CSS/style.css" />
</head>

<body>
  <div class="text-center">Job Application Form</div>
  <form id="jobForm" action="/form" method="POST" onsubmit="console.log('sad')">
    <!-- basic detail -->
    <div class="container">
      <div class="heading">Basic Detail</div>
      <div class="contant flex">
        <div class="part1">
          <div>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" />
          </div>
          <div>
            <label for="designation">Designation</label>
            <input type="text" id="designation" name="designation" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" />
          </div>
          <div>
            <label for="phone">Phone</label>
            <input type="text" id="phone" inputmode="numeric" name="phone" />
          </div>
          <div id="radio_gender">
            <label>Gender</label>
            <input type="radio" id="male" value="1" name="gender" />
            <label for="male">Male</label>
            <input type="radio" id="female" value="0" name="gender" />
            <label for="female">Female</label>
          </div>
          <div>
            <label for="relationshipstatus">Relationship Status</label>
            <select name="relationshipstatus" id="relationshipstatus">


              <% relationshipstatus.forEach(relation=> { %>
                <option value="<%= relation.id%>">
                  <%= relation.name%>
                </option>

                <% }) %>

            </select>
          </div>
        </div>

        <div class="part2">
          <div>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" />
          </div>
          <div>
            <label for="address1">Address 1</label>
            <input type="text" id="address1" name="address1" />
          </div>
          <div>
            <label for="address2">Address 2</label>
            <input type="text" id="address2" name="address2" />
          </div>
          <div>
            <label for="city">City</label>
            <input type="text" id="city" class="city" name="city" />
          </div>
          <div>
            <label for="state">State</label>
            <select name="state" id="state">
              <option value="gujarat">Gujarat</option>

              <option value="panjab">Panjab</option>

              <option value="delhi">Delhi</option>
            </select>
          </div>
          <div>
            <label for="zipcode">Zip Code</label>
            <input type="text" id="zipcode" name="zipcode" inputmode="numeric" class="zipcode" />
          </div>
          <div>
            <label for="bod">Date of Birth</label>
            <input type="text" id="bod" name="bod" placeholder="01/01/2000" />
          </div>
        </div>
      </div>
    </div>

    <!-- education detail -->
    <div class="container">
      <div class="heading">Education Detail</div>
      <div class="contant flex-col" id="education">
        <!-- ssc -->


        <!-- dynamic degree -->
        
        <div id="addDegree" class="flex-col flex">
          <div class="line-bold" ></div>


        </div>
        <div>
          <span class="span-btn" onclick="educationAdd()">+</span>
          <span class="span-btn" onclick="educationRemove()">-</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="heading">Work Experience</div>
      <div class="contant flex-col">
                  <div class="line-bold"></div>

        <div class="flex-col flex" id="addExperience"></div>
      </div>
      <div class="btn-box">
        <span class="span-btn" onclick="experienceAdd()">+</span>
        <span class="span-btn" onclick="experienceRemove()">-</span>
      </div>
    </div>
    <div class="flex">
      <div class="container">
        <div class="heading">Languages Known</div>
        <div class="contant">
          <div class="flex flex-col" id="lang">
            <div class="grid">
              <span>Language</span>
              <span>Read</span>
              <span>Write</span>
              <span>Speak</span>
            </div>
            <% for ( let i=0; i < languages.length; i++ ) { %>
              <div class="grid" id="<%= languages[i].name %>">
                <span>
                  <%=languages[i].name%>
                </span>
                <input type="checkbox" name="languages['<%=languages[i].id%>'][read]"
                  id="language_<%=languages[i].id%>_read" value="1" />
                <input type="checkbox" name="languages['<%=languages[i].id%>'][write]"
                  id="language_<%=languages[i].id%>_write" value="1" />
                <input type="checkbox" name="languages['<%=languages[i].id%>'][speak]"
                  id="language_<%=languages[i].id%>_speak" value="1" />
              </div>
              <% } %>

          </div>
        </div>
      </div>
      <div class="container">
        <div class="heading">Technologies Known</div>
        <div class="contant">
          <div class="flex flex-col" id="tech">
            <div class="grid">
              <span>Technology</span>
              <span>Beginner</span>
              <span>Mediator</span>
              <span>Expert</span>
            </div>
            <% for( let i=0; i < technologies.length; i++ ) { %>
              <div class="grid flex" id="<%=technologies[i].name%>">
                <span>
                  <%=technologies[i].name%>
                </span>
                <input type="radio" name="technologies['<%=technologies[i].id%>']"
                  id="technology_<%=technologies[i].id%>_beginer" value="1"
                  onclick="if(this.wasChecked) { this.checked = false; this.wasChecked = false; } else { this.wasChecked = true; }" />
                <input type="radio" name="technologies['<%=technologies[i].id%>']"
                  id="technology_<%=technologies[i].id%>_mideator" value="2"
                  onclick="if(this.wasChecked) { this.checked = false; this.wasChecked = false; } else { this.wasChecked = true; }" />
                <input type="radio" name="technologies['<%=technologies[i].id%>']"
                  id="technology_<%=technologies[i].id%>_expert" value="3"
                  onclick="if(this.wasChecked) { this.checked = false; this.wasChecked = false; } else { this.wasChecked = true; }" />
              </div>
              <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="heading">Reference Contact</div>
      <div class="contant flex-col">
        <div class="line-bold" id="line_referance_${referanceCount}"></div>
          
        <div class="flex flex-col" id="AddReferance"></div>
      </div>
      <div>
        <div class="btn-box">
          <span class="span-btn" onclick="referanceAdd()">+</span>
          <span class="span-btn" onclick="referanceRemove()">-</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="heading">Preferences</div>
      <div class="contant">
        <div class="flex" id="company">
          <div>
            <label for="preferd_location">Preferred Location</label>
            <textarea name="preferd_location" id="preferd_location"></textarea>
          </div>
          <div class="flex flex-col">
            <div>
              <label for="notice_period">Notice Period</label>
              <input type="text" id="notice_period" name="notice_period" />
            </div>
            <div>
              <label for="expacted_ctc">Expected CTC</label>
              <input type="text" id="expacted_ctc" name="expacted_ctc" placeholder="360000" />
            </div>
            <div>
              <label for="current_ctc">Current CTC</label>
              <input type="text" id="current_ctc" name="current_ctc" placeholder="360000" />
            </div>
          </div>
          <div>
            <label for="department">Department</label>
            <select name="department" id="department">


              <% deparments.forEach(deparment => { %>
                <option value="<%= deparment.id %>">
                  <%= deparment.name %>
                </option>

                <% }) %>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div>
      <input type="submit" value="submit">
      <input type="reset" value="Reset" />
    </div>
  </form>
  <script src="/JS/just-validate.production.min.js"></script>
  <script src="/JS/validation.js"></script>
  <script src="/JS/script.js"></script>
</body>

</html>