<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css" />
  </head>
  <body>
    <div class="text-center">Job Application Form</div>
    <form id="jobForm" action="/form" method="POST" onsubmit="console.log('sad')">
      <!-- basic detail -->
      <div class="container">
        <div class="heading">Basic Detail</div>
        <div class="contant flex">
          <div class="part1">
            <div>
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="fname"/>
            </div>
            <div>
              <label for="designation">Designation</label>
              <input fname="designation" type="text" id="designation" name="designation" />
            </div>
            <div>
              <label for="email">Email</label>
              <input type="text" id="email" name="email" />
            </div>
            <div>
              <label for="phone">Phone</label>
              <input type="text" id="phone" inputmode="numeric" name="phone" />
            </div>
            <div id="radio_gender">
              <label>Gender</label>
              <input type="radio" id="male" value="male" name="gender" />
              <label for="male">Male</label>
              <input type="radio" id="female" value="female" name="gender" />
              <label for="female">Female</label>
            </div>
            <div>
              <label for="relationshipstatus">Relationship Status</label>
              <select name="relationshipstatus" id="relationshipstatus">
                

                <% relationshipstatus.forEach(relation => { %>
                 <option value="<%= relation.id%>"><%= relation.name%></option>

                <% }) %>

              </select>
            </div>
          </div>

          <div class="part2">
            <div>
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lname" />
            </div>
            <div>
              <label for="address1">Address 1</label>
              <input type="text" id="address1" name="address1" />
            </div>
            <div>
              <label for="address2">Address 2</label>
              <input type="text" id="address2" name="address2" />
            </div>
            <div>
              <label for="city">City</label>
              <input type="text" id="city" class="city" name="city" />
            </div>
            <div>
              <label for="state">State</label>
              <select name="state" id="state">
                <option value="gujarat">Gujarat</option>

                <option value="panjab">Panjab</option>

                <option value="delhi">Delhi</option>
              </select>
            </div>
            <div>
              <label for="zipcode">Zip Code</label>
              <input
                type="text"
                id="zipcode"
                name="zipcode"
                inputmode="numeric"
                class="zipcode"
              />
            </div>
            <div>
              <label for="bod">Birth of Date</label>
              <input type="text" id="bod" name="bod" placeholder="01/01/2000" />
            </div>
          </div>
        </div>
      </div>

      <!-- education detail -->
      <div class="container">
        <div class="heading">Education Detail</div>
        <div class="contant flex-col" id="education">
          <!-- ssc -->
          <div>
            <div>SSC Result</div>
            <div class="flex">
              <div>
                <label for="board_ssc">Name of Board</label>
                <input type="text" id="board_ssc" name="board_ssc" class="board_name"/>
              </div>
              <div>
                <label for="pass_year_ssc">Passing Year</label>
                <input type="text" id="pass_year_ssc" name="pass_year_ssc" />
              </div>
              <div>
                <label for="percentage_ssc">Percentage</label>
                <input type="text" id="percentage_ssc" name="percentage_ssc" />
              </div>
            </div>
          </div>
          <div class="line-bold"></div>
          <!-- hsc -->
          <div>
            <div>HSC/Diploma Result</div>
            <div class="flex">
              <div>
                <label for="board_hsc_diploma">Name of Board</label>
                <input
                  type="text"
                  id="board_hsc_diploma"
                  name="board_hsc_diploma"
                   class="board_name"
                />
              </div>
              <div>
                <label for="pass_year_hsc_diploma">Passing Year</label>
                <input
                  type="text"
                  id="pass_year_hsc_diploma"
                  name="pass_year_hsc_diploma"
                />
              </div>
              <div>
                <label for="percentage_hsc_diploma">Percentage</label>
                <input
                  type="text"
                  id="percentage_hsc_diploma"
                  name="percentage_hsc_diploma"
                />
              </div>
            </div>
          </div>
          <div class="line-bold"></div>

          <!-- bachelor degree -->
          <div>
            <div>Bachelor Degree</div>
            <div class="flex">
              <div>
                <label for="course_bachelor">Course Name</label>
                <input
                  type="text"
                  id="course_bachelor"
                  name="course_bachelor"
                   class="board_name"
                />
              </div>
              <div>
                <label for="university_bachelor">University</label>
                <input
                  type="text"
                  id="university_bachelor"
                  name="university_bachelor"
                />
              </div>
              <div>
                <label for="pass_year_bachelor">Passing Year</label>
                <input
                  type="text"
                  id="pass_year_bachelor"
                  name="pass_year_bachelor"
                />
              </div>
              <div>
                <label for="percentage_bachelor">Percentage</label>
                <input
                  type="text"
                  id="percentage_bachelor"
                  name="percentage_bachelor"
                />
              </div>
            </div>
          </div>
          <div class="line-bold"></div>

          <!-- master degree -->
          <div>
            <div>Master Degree</div>
            <div class="flex">
              <div>
                <label for="course_master">Course Name</label>
                <input type="text" id="course_master" name="course_master"  class="board_name" />
              </div>
              <div>
                <label for="university_master">University</label>
                <input
                  type="text"
                  id="university_master"
                  name="university_master"
                />
              </div>
              <div>
                <label for="pass_year_master">Passing Year</label>
                <input
                  type="text"
                  id="pass_year_master"
                  name="pass_year_master"
                />
              </div>
              <div>
                <label for="percentage_master">Percentage</label>
                <input
                  type="text"
                  id="percentage_master"
                  name="percentage_master"
                />
              </div>
            </div>
          </div>

          <!-- dynamic degree -->
          <div id="addDegree" class="flex-col flex"></div>
          <div>
            <span class="span-btn" onclick="educationAdd()">+</span>
            <span class="span-btn" onclick="educationRemove()">-</span>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="heading">Work Experience</div>
        <div class="contant flex-col">
          <div class="flex">
            <div>
              <label for="company_name_1">Comapny Name</label>
              <input type="text" id="company_name_1" name="company_name_1" />
            </div>
            <div>
              <label for="company_designation_1"> Designation</label>
              <input
                type="text"
                id="company_designation_1"
                name="company_designation_1"
              />
            </div>
            <div>
              <label for="company_from_1">From</label>
              <input type="date" id="company_from_1" name="company_from_1" />
            </div>
            <div>
              <label for="company_to_1">To</label>
              <input type="date" id="company_to_1" name="company_to_1" />
            </div>
          </div>
          <div class="flex-col flex" id="addExperience"></div>
        </div>
        <div class="btn-box">
          <span class="span-btn" onclick="experienceAdd()">+</span>
          <span class="span-btn" onclick="experienceRemove()">-</span>
        </div>
      </div>
      <div class="flex">
        <div class="container">
          <div class="heading">Language Know</div>
          <div class="contant">
            <div class="flex flex-col" id="lang">
              <div class="grid">
                <span>Language</span>
                <span>Read</span>
                <span>Write</span>
                <span>Speak</span>
              </div>
              <% for ( let i = 0; i < languages.length; i++ ) { %>
              <div class="grid" id="<%= languages[i].name %>">
                <span><%=languages[i].name%></span>
                <input type="checkbox" name="language_<%=languages[i].id%>_read" id="language_<%=languages[i].id%>_read" value="1" />
                <input type="checkbox" name="language_<%=languages[i].id%>_write" id="language_<%=languages[i].id%>_write" value="1" />
                <input type="checkbox" name="language_<%=languages[i].id%>_speak" id="language_<%=languages[i].id%>_speak" value="1" />
              </div>
              <% } %>
              
            </div>
          </div>
        </div>
        <div class="container">
          <div class="heading">Technoknlogy Know</div>
          <div class="contant">
            <div class="flex flex-col" id="tech">
              <div class="grid">
                <span>Language</span>
                <span>Beginer</span>
                <span>Mideator</span>
                <span>Expert</span>
              </div>
              <% for( let i = 0; i < technologies.length; i++ ) { %>
              <div class="grid flex" id="<%=technologies[i].name%>">
              <span><%=technologies[i].name%></span>
              <input type="radio" name="technology_<%=technologies[i].id%>" id="technology_<%=technologies[i].id%>_beginer" value="1" onclick="if(this.wasChecked) { this.checked = false; this.wasChecked = false; } else { this.wasChecked = true; }" />
              <input type="radio" name="technology_<%=technologies[i].id%>" id="technology_<%=technologies[i].id%>_mideator" value="2" onclick="if(this.wasChecked) { this.checked = false; this.wasChecked = false; } else { this.wasChecked = true; }" />
              <input type="radio" name="technology_<%=technologies[i].id%>" id="technology_<%=technologies[i].id%>_expert" value="3" onclick="if(this.wasChecked) { this.checked = false; this.wasChecked = false; } else { this.wasChecked = true; }" />
            </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="heading">Referance Contact</div>
        <div class="contant flex-col">
          <div class="flex" id="referance_1">
            <div>
              <label for="referance_name_1">Referance Name</label>
              <input
                type="text"
                id="referance_name_1"
                name="referance_name_1"
              />
            </div>
            <div>
              <label for="referance_contact_1">Referance Contact</label>
              <input type="text" id="referance_contact_1" name="referance_contact_1" />
            </div>
            <div>
              <label for="referance_relation_1">Relation</label>
              <input
                type="text"
                id="referance_relation_1"
                name="referance_relation_1"
              />
            </div>
          </div>
          <div class="flex flex-col" id="AddReferance"></div>
        </div>
        <div>
          <div class="btn-box">
            <span class="span-btn" onclick="referanceAdd()">+</span>
            <span class="span-btn" onclick="referanceRemove()">-</span>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="heading">Preferances</div>
        <div class="contant">
          <div class="flex" id="company">
            <div>
              <label for="preferd_location">Preferd location</label>
              <textarea name="preferd_location" id="preferd_location"></textarea>
            </div>
            <div class="flex flex-col">
              <div>
                <label for="notice_period">Notice period</label>
                <input type="text" id="notice_period" name="notice_period" />
              </div>
              <div>
                <label for="expacted_ctc">Expacted CTC</label>
                <input
                  type="text"
                  id="expacted_ctc"
                  name="expacted_ctc"
                  placeholder="360000"
                />
              </div>
              <div>
                <label for="current_ctc">Current CTC</label>
                <input
                  type="text"
                  id="current_ctc"
                  name="current_ctc"
                  placeholder="360000"
                />
              </div>
            </div>
            <div>
              <label for="department">Department</label>
              <select name="department" id="department">
                

                <% deparments.forEach(deparment => { %>
                <option value="<%= deparment.id %>"><%= deparment.name %></option>
                  
                <% }) %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div>
        <input type="submit" value="submit">
        <input type="reset" value="Reset" />
      </div>
    </form>
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="JS/validation.js"></script>
    <script src="JS/script.js"></script>
    <script src="JS/language.js"></script>
    <script src="JS/tech.js"></script>
  </body>
</html>